<div class="bgcolor2 pt-60 pb-60 mt-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 mt-20">
                <div class="carousel slide" id="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#carousel"></li>
                        <li data-slide-to="1" data-target="#carousel"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="<%= image_path('img_1863.png') %>" alt="First slide">
                        </div>
                        <div class="item">
                            <img src="<%= image_path('img_1896.png') %>" alt="Second slide">
                        </div>
                        <div class="item">
                            <img src="<%= image_path('img_1917.png') %>" alt="Third slide">
                        </div>
                        <div class="item">
                            <img src="<%= image_path('img_2474.png') %>" alt="Fourth slide">
                        </div>
                        <div class="item">
                            <img src="<%= image_path('img_2481.png') %>" alt="Fifth slide">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" data-slide="prev" href="#carousel">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control" data-slide="next" href="#carousel">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-5 mt-20">
                <h3 class="heading">Michiana Direct Primary Care</h3>
                <hr class="hr-1 left">
                <p class="lead">Michiana Direct Primary Care was created in 2016 to create a family medicine practice that delivers affordable high-quality healthcare.</p>
                <ul class="list-styled">
                    <li>Independent, physician-owned (not hospital-owned) practice</li>
                    <li>Providing you with the best patient care possible.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
