<div class="loader-backdrop">           <!-- Loader -->
  <div class="loader"></div>
</div>

<header class="header-1">           <!-- Header Style 1 -->
  <%= render 'social_icons' %>
  <%= render 'shared/nav_main_dark' %>
</header>

<div class="page-header">
  <div class="container">
    <h1>About Michiana Direct Primary Care</h1>
    <div class="breadcrumb-2">
      <ul class="breadcrumb">
        <li><a href="<%= root_url %>">Home</a></li>
        <li class="active">About Michiana Direct Primary Care</li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-60">
    <div class="row">
        <div class="col-sm-8 mt-20">
            <h3 class="heading"> Direct Primary Care - The Affordable Solution</h3>
            <p class="justify">Do you have a high deductible health insurance plan? Are you paying hundreds in out-of-pocket expenses for doctor's visits and lab work? If so, our clinic has an affordable membership program that can help you get the care that you need. It's called "Direct Primary Care" and with the recent surge in health care costs, it's rapidly gaining popularity across the nation as a new and innovative way to help individuals get affordable care without the use of insurance.</p>
            <br>

            <blockquote>
              <p>Dr. Tuttle exceeded my expectations in many ways today! He genuinely took time to listen. His appointment with me was on time and his front desk staff were friendly. They are also perfect for those with high deductibles or those with no insurance, with office fees that are very fair. I will certainly return in the future and refer future patients. Thank you!!</p>
              <footer>
                <cite title="Cite">Don Warren</cite>
              </footer>
            </blockquote>

            <h3 class="heading"> How Much Does Membership Cost?</h3>
            <p class="justify">Individual memberships are $29 per month. Family memberships are $99 per month. There is a one-time enrollment fee of $79 for the individual membership and a $79 enrollment fee for each adult included in the family membership.</p>

            <h3 class="heading"> What's Included</h3>
            <ul class="list-styled">
              <li>Any service we can offer within the walls of our clinic is discounted.</li>
              <li>Office visits are just $10.</li>
              <li>In-office lab tests are free.</li>
              <li>Huge discounts are offered for blood testing.</li>
              <li>We even carry several commonly prescribed medications that we dispense right from our clinic at a fraction of the retail cost to our members.</li>
            </ul>
        </div>
        <div class="col-sm-4 mt-20">
            <h3 class="heading">Building Trust</h3>
            <img src=" <%= image_path('trust.png') %>" class="img-responsive" alt="">
            <br>
            <ul class="list-styled">
                <li>Our primary care practice offers treatment for a wide-spectrum of conditions.</li>
                <li>We see patients of all ages.</li>
                <li>Our only interest resides in providing you with the best patient care possible.</li>
            </ul>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-12 mt-20">
        <h3 class="heading">Why It Works</h3>
        <p class="justify">Not having to send claims to an insurance company saves us a lot of money and we pass those savings directly on to you through our membership program.</p>

        <h3 class="heading">Lowest Price Guarantee</h3>
        <p class="justify">For our members, we guarantee that any service that is offered within our clinic will be lower than any comparable service found at other medical clinics within the surrounding South Bend area. Certain restrictions do apply, contact us for complete details.</p>

        <h3 class="heading">Is a Membership Required?</h3>
        <p class="justify">No, we accept several insurance plans if you prefer to use insurance. However, those with a high-deductible insurance plan (or no insurance) can often save hundreds each year at our clinic by enrolling in our membership program.</p>

        <h3 class="heading">Is Membership Enrollment Right for Me?</h3>
        <p class="justify">The membership plan works great for those with high out-of-pocket costs (high deductible insurance, uninsured, cost-sharing plan). Unfortunately, we are not able to offer our membership program to those enrolled in Medicare or Medicaid.</p>
        <p class="justify">While our membership program offers a very affordable option, please keep in mind that it is not an insurance plan. We encourage all members to carry coverage for services that fall outside of our clinic as well as any other catastrophic events.</p>

        <h3 class="heading">How Do I Get Started?</h3>
        <p class="justify">You can start the enrollment process by filling out our online enrollment form. After filling out the enrollment form, we will reach out to you to gather your payment information and begin your membership subscription.</p>
        <p class="justify">Alternatively, you can schedule a visit with us by calling (574) 314-6436 and complete the membership enrollment in person.</p>
      </div>
    </div>

</div>

<!-- <div class="container mt-40">
    <div class="row">
        <div class="col-sm-3">
            <div class="progress-box-1">
                <div class="circle" data-value="0.52" data-size="50"><strong></strong></div>
                <br/>
                <h4 class="heading">Success Rate</h4>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="progress-box-1">
                <div class="circle" data-value="0.75"><strong></strong></div>
                <br/>
                <h4 class="heading">Disease Curability</h4>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="progress-box-1">
                <div class="circle" data-value="0.93"><strong></strong></div>
                <br/>
                <h4 class="heading">Cases Solved</h4>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="progress-box-1">
                <div class="circle" data-value="0.69"><strong></strong></div>
                <br/>
                <h4 class="heading">Blood Bank</h4>
            </div>
        </div>
    </div>
</div> -->

<div class="mt-80 parallax" style="background-image:url(' <%= image_path('affordable_care.png') %>')" data-speed="8">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4 col-lg-6 col-lg-offset-6 no-gutter">
                <div class="bgcolor3 p100">
                    <h2 class="heading inverse">We provide the best health care services. </h2>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="department-list">
                                <li>
                                    <a href="">
                                        <span class="list-icon">
                                            <i class="med-icon icon-i-pediatrics"></i>
                                        </span>
                                        <span class="list-text">
                                            <strong>Childhood Vaccines</strong>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="list-icon">
                                            <i class="med-icon icon-i-nutrition"></i>
                                        </span>
                                        <span class="list-text">
                                            <strong>Wellness Exams</strong>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="list-icon">
                                            <i class="med-icon icon-i-diabetes-education"></i>
                                        </span>
                                        <span class="list-text">
                                            <strong>Diabetes</strong>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="list-icon">
                                            <i class="med-icon icon-i-cardiology"></i>
                                        </span>
                                        <span class="list-text">
                                            <strong>High blood pressure (hypertension)</strong>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="list-icon">
                                            <i class="med-icon icon-i-laboratory"></i>
                                        </span>
                                        <span class="list-text">
                                            <strong>High cholesterol</strong>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="department-list">
                                <li>
                                    <a href="">
                                        <span class="list-icon">
                                            <i class="med-icon icon-i-pathology"></i>
                                        </span>
                                        <span class="list-text">
                                            <strong>Thyroid disorders</strong>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="list-icon">
                                            <i class="med-icon icon-i-respiratory"></i>
                                        </span>
                                        <span class="list-text">
                                            <strong>Asthma / COPD / emphysema</strong>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="list-icon">
                                            <i class="med-icon icon-i-mental-health"></i>
                                        </span>
                                        <span class="list-text">
                                            <strong>Anxiety / Depression</strong>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="list-icon">
                                            <i class="med-icon icon-i-medical-records"></i>
                                        </span>
                                        <span class="list-text">
                                            <strong>Sports physicals</strong>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="list-icon">
                                            <i class="med-icon icon-i-womens-health"></i>
                                        </span>
                                        <span class="list-text">
                                            <strong>Womens Health</strong>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-80">
    <div class="row">
        <div class="col-sm-4 mt-20">
            <div class="news-slider style-1">
                <div class="slider-items">
                    <div>
                        <h4 class="heading">MedWise launches new product.</h4>
                        <hr class="hr-2 left" />
                        <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                    </div>
                    <div>
                        <h4 class="heading">Ranked 8th in Best Hospitals.</h4>
                        <hr class="hr-2 left" />
                        <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                    </div>
                    <div>
                        <h4 class="heading">80% Surgery Success Rate</h4>
                        <hr class="hr-2 left" />
                        <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                    </div>
                </div>
                <div class="slider-nav">
                    <div class="left"><i class="fa fa-angle-left"></i></div>
                    <div class="right"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 mt-20">
            <h3 class="heading">World Class Facilities</h3>
            <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <p class="justify">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            <p class="justify">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
        <div class="col-sm-12"><div class="mt-40"></div></div>
        <div class="col-sm-3">
            <h4 class="heading">List of Services</h4>
            <ul class="list-styled">
                <li>10 years experience</li>
                <li>Nobel Prize Winners</li>
                <li>Highest Success Rate</li>
                <li>Experts of Psychotherapy</li>
                <li>Free Services to Poor</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h4 class="heading">Caring Nurses</h4>
            <ul class="list-styled">
                <li>10 years experience</li>
                <li>Nobel Prize Winners</li>
                <li>Highest Success Rate</li>
                <li>Experts of Psychotherapy</li>
                <li>Free Services to Poor</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h4 class="heading">Advanced Systems</h4>
            <ul class="list-styled">
                <li>10 years experience</li>
                <li>Nobel Prize Winners</li>
                <li>Highest Success Rate</li>
                <li>Experts of Psychotherapy</li>
                <li>Free Services to Poor</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h4 class="heading">Support Staff</h4>
            <ul class="list-styled">
                <li>10 years experience</li>
                <li>Nobel Prize Winners</li>
                <li>Highest Success Rate</li>
                <li>Experts of Psychotherapy</li>
                <li>Free Services to Poor</li>
            </ul>
        </div>
    </div>
</div>

<div class="faq mt-80 pt-60 pb-60" style="background-image:url('images/1920-600-dark.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="heading inverse text-center">Frequently Asked Questions</h2>
            </div>
            <div class="col-sm-4">
                <div class="faq-box">
                    <div class="faq-header">
                        <h4 class="heading">Where can find all my reports at one place?</h4>
                    </div>
                    <div class="faq-body">
                        <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="faq-box">
                    <div class="faq-header">
                        <h4 class="heading">Where can find all my reports at one place?</h4>
                    </div>
                    <div class="faq-body">
                        <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="faq-box">
                    <div class="faq-header">
                        <h4 class="heading">Where can find all my reports at one place?</h4>
                    </div>
                    <div class="faq-body">
                        <p>Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'footer' %>

<!-- Custom JS -->
<script src="<%= javascript_path('script.js') %>" type="text/javascript"></script>
