    <div class="loader-backdrop">           <!-- Loader -->
        <div class="loader">
        </div>
    </div>
    
    <header class="header-1">           <!-- Header Style 1 -->
		  <%= render 'social_icons' %>
		  <%= render 'shared/nav_main_dark' %>
		</header>
		
		<div class="page-header">
		  <div class="container">
		    <h1>Contact Us</h1>
		    <div class="breadcrumb-2">
		      <ul class="breadcrumb">
		        <li><a href="<%= root_url %>">Home</a></li>
		        <li class="active">Contact Us</li>
		      </ul>
		    </div>
		  </div>
		</div>
    
    <div class="container mt-80">
        <div class="row">
            <div class="col-sm-12">
                <div class="bgcolor1 p40">
                    <div class="call-out-2 text-center">
                        <i class="med-icon icon-i-ambulance"></i>
                        <span class="call-us"><strong class="inverse text-capitalize font20">Emergency Assistance!</strong><br>1800-123-678</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12"><div class="mt-20"></div></div>
            <div class="col-sm-4 mt-20">
                <h3 class="heading">Visit Us</h3>
                <p class="justify">Behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
                <br/>
                <address>
                    <strong>Medwise Hospital, USA</strong><br>
                    5th Floor, Ameritrunk Building,<br> Times Square, USA-12435<br>
                </address>
                <ul class="contact-list contact-list-2x">
                    <li>
                        <i class="fa fa-phone"></i> +1800-567-1234
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i> medwise@example.com
                    </li>
                </ul>
                <br/>
                <ul class="social">
                    <li><a href="http://www.facebook.com/michianadpc" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://www.twitter.com/michianadpc" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/+Michianadpc" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCxfXD7gR6QDJEf4dSVwvm-w" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-8 mt-20">
                <h3 class="heading">Contact Us. <span class="color1">We love hearing from you.</span></h3>
                <form id="main-contact-form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                            <input class="form-control" type="text" placeholder="Your First Name" id="fname" name="fname">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                            <input class="form-control" type="text" placeholder="Your Last Name" id="lname" name="lname">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Your Email Id" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Your Subject Line" id="subject" name="subject">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Please enter your message" id="message" name="message"></textarea>
                    </div>
					<p id="status"></p>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" name="submit"><i class="fa fa-paper-plane"></i> Submit Query</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-80">
        <div class="row">
            <div class="col-sm-12 no-gutter">
            <!-- Replace Latitude, Logitude and Info Window as per your place -->
                <div class="gmap" 
                     id="gmap" 
                     data-lat="-33.925108" 
                     data-long="151.212781"
                     data-info-win="<strong>Medwise Group of Hospitals</strong><br/><span>5th Floor, Ameritrunk Building,<br/> Times Square, USA-12435</span>">
                </div>
            </div>
        </div>
    </div>
    
    <%= render 'footer' %>

<div id="back"><i class="fa fa-angle-up"></i></div>

<!-- Custom JS -->
<script src="<%= javascript_path('script.js') %>" type="text/javascript"></script>