    <div class="loader-backdrop">           <!-- Loader -->
      <div class="loader">
      </div>
    </div>

    <header class="header-2">           <!-- Header Style 2 -->

      <%= render 'social_icons' %>

      <%= render 'shared/nav_main' %>

	  </header>

    <%= render 'slider_main' %>

    <%= render 'slider_base' %>

    <%= render 'intro_text' %>

    <%= render 'meet_doctor' %>

    <%= render 'subscribe_one' %>

    <%= render 'departments' %>

    <%= render 'slider_small' %>

    <%= render 'subscribe_two' %>

    <%= render 'offers' %>

    <%= render 'appointment_parallax' %>

    <%= render 'stories' %>

    <%= render 'footer' %>

	<div id="back"><i class="fa fa-angle-up"></i></div>

    <!-- Modal -->
    <!-- <div class="modal fade modal-popup" id="modal1" data-open-onload="true" data-open-delay="1500" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="background-image:url(<%= image_path('modal-background.jpg')%>); background-size:cover">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                <div class="modal-body">
                	<div class="container-fluid">
	                    <div class="row">
	                        <div class="col-sm-8 col-sm-offset-2 pt-20 pb-20 text-center">
	                            <h4 class="heading font34 inverse">Get the best of health tips straight in your inbox!</h4>
	                            <hr class="hr-2">
	                            <p class="font22 text-center">100k people have already subscribed. You'll love it too!</p>
	                            <form>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Enter your Email id">
	                                </div>
	                                <button class="btn btn-black" type="button"><i class="fa fa-paper-plane"></i> Yes, Let's get started!</button>
	                                <button class="btn btn-primary btn-sm" data-dismiss="modal" type="button"> I hate offers!</button>
	                            </form>
	                        </div>
	                    </div>
	                </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Modal -->
	 <!-- <div class="modal fade" id="modal-video" data-open-onload="false" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                <div class="modal-body">
                	<div class="container-fluid">
	                    <div class="row">
	                    	<div class="col-sm-12">
	                        	<div id="video-container"></div>
	                        </div>
	                    </div>
	                </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Permission for Setting Cookies -->
    <!-- <div class="alert alert-dismissible alert-cookies">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    Medwise custom message to for users to accept terms and conditions. To continue using this site, you must agree to our terms.
                    &nbsp;&nbsp;
                    <button class="btn btn-primary btn-sm" data-dismiss="alert" type="button">I accept</button>
                </div>
            </div>
        </div>
    </div> -->

		<!-- Custom JS -->
    <script src="<%= javascript_path('script.js') %>" type="text/javascript"></script>
