<li class="<%= current_class?('/') %>"><a href="<%= root_url %>">Home</a></li>
<li class="<%= current_class?('/about') %>"><a href="/about">About Us</a></li>
<li class="<%= current_class?('/doctor') %>"><a href="/doctor">The Doctor</a></li>
<li class="<%= current_class?('/insurance') %>"><a href="/insurance">Insurance</a></li>
<li class="<%= current_class?('/plans') %>"><a href="/plans">Self Pay</a></li>
<li class="<%= current_class?('/contact') %>"><a href="/contact">Contact</a></li>
